[submodule "CMake_Tutorials/project/extern/googletest"]
	path = CMake_Tutorials/project/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "src/microservices/vcpkg"]
	path = src/microservices/vcpkg
	url = https://github.com/microsoft/vcpkg
